body{
  background-color: #181820;

}

.first{
  background-color: #181820;
  font-family: Arial, sans-serif;
}

/* .first {
  background-color: #181820;
} */


h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

h3 {
  color: white;
  text-align: center;
}

h6 {
  color: grey;
  text-align: center;
}

.first {
 
  padding-inline: 30%;
}

.second {
  /* outline: 2px solid #e0e0e022; */
  /* border-radius: 10px; */
  color: white;
  padding: 5px;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: "#e0e0e022";
}

.add-task-button {
  border-radius: 10px;
  background-color: #f276a1;
  height: 30px;
  cursor: pointer;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.add-task-text {
  cursor: pointer;
}

.second form{
 background-color:  "#e0e0e022",
}

.second input[type="text"] {
  border-radius: 10px;
  background-color: #f0f8ff;
  height: 20px;
  cursor: pointer;
  /* width: 150px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
/*custom-datepicker {
  border-radius: 10px;
  background-color:"#e0e0e022";
  height: 30px;
  cursor: pointer;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
} */

.add-button {
  border-radius: 10px;
  background-color: #f276a1;
  height: 30px;
  cursor: pointer;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.close-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #ff0000;
}

.close-icon ion-icon {
  color: #ff0000;
}

.task-container {
  background-color: #e0e0e011;
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  color: green;
  

}

.task-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.task-details div {
  display: flex;
  flex-direction: column;
}

.task-details div:first-child {
  font-size: 20px;
}

.task-details div:last-child {
  color: green;
}

.delete-icon {
  cursor: pointer;
}

.delete-icon ion-icon {
  color: #181820;
}

.custom-checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
